.footer_form-login{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}
.footer_form-register{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}
.register_hear a, .forgot a{
    color:#fff;
    font-size: 16px;
}
.invalid-feedback{
    margin-bottom: 10px;
    font-size: 14px;
    color: wheat;
}
.register_hear .note{
    color: wheat;
    margin-right: 5px;
}
.register_form-infomation{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
}
.alert-danger{
    background: #fadddd;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    color: #772b35;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.alert-success{
    background: #66e490;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    color:black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
form{
    overflow: hidden;
}